/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
//Button
.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0.75rem 0 1rem;
}
.actions-content {
  display: flex;
  flex-direction: row;
}

.btn {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 0 1.25rem;
  line-height: 2.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  margin: 0.125rem;
  text-transform: uppercase;

  border-radius: 0.125rem;
  border: 2px solid $color__brown;
  background-color: $color__brown;
  color: $color__white;
  text-decoration: none;
  transition: color 0.125s ease;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

  &:before {
    background-color: $color__white;
    content: "";
    display: flex;
    transform: scale(1, 0);
    transition: transform 0.25s ease;
    transform-origin: 50% 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  span {
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: 2px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color__brown;

    &:before {
      transform: scale(1, 1);
    }
  }

  &.rounded {
    border-radius: 1.1875rem;
  }
}

.page-title {
  text-transform: lowercase;
  &:first-letter {
    text-transform: capitalize;
  }
}

.overflow_hidden {
  overflow: hidden;
  position: relative;
}

.top-slider {
  background: $color__green;
}

.radius_niz_mini {
  border-radius: 0 0 100% 100%;
  display: block;
  overflow: hidden;
  margin: 0 -80px;
  padding: 0 80px;
  transform: translateZ(0);
  //text-align: center;
}

.radius_niz {
  border-radius: 0 0 100% 100%;
  display: block;
  overflow: hidden;
  margin: 0 -80px;
  padding: 0 80px;
  transform: translateZ(0);
  text-align: center;
}
.radius_row_top:before {
  content: "";
  background: #ffffff;
  position: absolute;
  width: 100%;
  height: 430px;
  left: 0;
  top: 0;
  border-radius: 0 0 100% 100%;
  display: block;
  overflow: hidden;
  margin: -305px -90px 0 -90px;
  padding: 0 90px;
  transform: translateZ(0);
}

.radius_row_niz:after {
  content: "";
  background: #ffffff;
  position: absolute;
  width: 120%;
  height: 430px;
  left: -12%;
  bottom: 0;
  border-radius: 100% 100% 0 0;
  display: block;
  overflow: hidden;
  margin: 0 0px -305px 0px;
  padding: 0 90px;
  transform: translateZ(0);
}

.services-block {
  padding: 150px 0 0px 0;
  background: $color__green;
  margin-top: -120px;
  margin-bottom: -130px;
}

.services-block__container ._slogan {
  color: #fff;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  font-weight: 100;
}
.services-block_row {
  padding-bottom: 150px;
}

.row::before,
.row::after {
  content: " ";
  display: table;
  /* clear: both; */
}

.slider-nav {
  // .slider-nav__item
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__item {
    // .slider-nav__item_img

    &_img {
      width: 120px;
    }
  }
}
.active {
}

.slider-nav > div {
}

.slider-nav > div a {
  display: block;
  cursor: pointer;
  text-align: center;
  color: #d7f2c3;
  font-size: 0.9rem;
}

.slider-nav > div a:hover,
.slider-nav > div a.active {
  color: #fff;
}

.slider-nav > div a.active svg {
  fill: #fff;
}
.slider-nav > div a:hover svg {
  fill: #fff;
}
.slider-nav > div a svg {
  fill: #d7f2c3;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
}

//Slider service
.slider-services {
  display: flex;
  position: relative;
  width: 100%;
  // .slider-services__image-block
  &__block {
    overflow: hidden;
    height: 380px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    max-width: 500px;
    background: transparent url(./images/services/dots.png) 100% -120% no-repeat;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  // .slider-services__image-one
  &__image-one {
  }

  &__image-one > img {
    border-radius: 50%;
    position: relative;
  }

  // .slider-services__image-two

  &__image-two {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__image-two > img {
    position: relative;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    border-radius: 50%;
    background-color: #6e6e6e;
    box-shadow: inset 0px 3px 95px 0px rgba(0, 0, 0, 0.49);
  }
  &__text-block {
    position: absolute;
    top: 20px;
    left: 500px;
  }
  &__button-block {
    position: absolute;
    bottom: 50px;
    right: 30px;
  }
}
.slider-container {
  //overflow: hidden;
}
.site-main__container {
  //margin-top: -130px;
}

.site-main {
  // .site-main__decor

  &__decor {
  }
}
.block-decor {
  display: flex;
  align-items: center;

  &__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    &:before {
      content: "";

      height: 1px;
      width: 100%;
      background-color: #bfbfbf;
    }
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      display: inline-block;
      background-color: #bfbfbf;
    }
    span {
      display: flex;
      margin: 0 25px;

      &:after {
        content: "";
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid #bfbfbf;
      }
    }
  }
}

.about {
  // .about__title

  &__title {
  }

  // .about__block

  &__block {
    display: flex;
    justify-content: space-between;

    &_row {
      width: 50%;
      display: flex;
      .column {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .item {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.testimonials {
  // .testimonials__container
  &__slider_box {
    width: 70%;
  }

  &__container {
    background-color: $color__brown;
    overflow: hidden;
    &._title > h1 {
      color: #fff;
      border-bottom: 1px solid #fff;
    }

    &._block {
      color: $color__white;
      margin-bottom: 20px;
      display: flex;
    }

    &._nav {
      display: flex;
      width: 30%;
      align-items: flex-end;
    }

    &._text {
      .surname {
        font-size: 1.875em;
      }
      .text {
        margin-top: 15px;
        a {
          color: $color__white;
        }
      }
      .date {
        margin-top: 25px;
        font-size: 0.9em;
        font-weight: 100;
      }
    }
  }
}

.last-post {
  // .last-post__container

  &__container {
  }

  // .last-post__row

  &__row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  // .last-post__item

  &__item {
    // .last-post__item_block
    width: 100%;
    padding: 0 15px;

    &_block {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background: white;
      overflow: hidden;
      a img {
        transition: all 0.5s ease-out;
      }
      a img:hover {
        transform: scale(1.1);
      }
    }

    // .last-post__item_content

    &_content {
      padding: 20px;
      &_title {
        font-size: 20px;
      }
      &_date {
        color: #aaa;
        font-size: 14px;
      }
    }
  }
}

.contact_map_content {
  position: relative;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.contact_map_info {
  position: absolute;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  padding: 35px 47px 35px;
  left: 62px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.contact_map_info__title {
  color: #656565;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 17px;
}

.contact_map_info__title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: #cccbcb;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.contact_map_info__content {
  color: #201e20;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.page-header {
  height: 200px;
  &__image {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    padding: 20px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  }
}

@import "header";

@import "lists";

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
  vertical-align: middle;
}

figure {
  margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

@import "tables";

@import "footer";
