// stylelint-disable value-keyword-case
$font__main: Helvetica, sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

body,
button,
input,
select,
optgroup,
textarea {
  font-size: 16px;
  font-size: 1rem;
}

a {
  text-decoration: none; /* no underline */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
