.main-navigation {
	flex: 1 1 auto;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-transform: uppercase;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
			//float: left;
			display: block;
			flex-direction: column;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background: rgba(255, 255, 255, 0.9);

			ul {
				display: block;
				flex-direction: column;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				background-color: #fff;
				text-transform: none;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: flex;
					left: auto;
					left: 100px;
				}
			}

			a {
				width: 200px;
				white-space: nowrap;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin: 0 15px;
		justify-content: center;
		padding: 5px 0;

		&:hover > a,
		&.focus > a {
		}
	}
	.menu {
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: $color__grey;
		//text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.menu-item-has-children > a:after {
	font-family: "FontAwesome";
	font-size: 12px;
	content: "\f107";
	display: inline-block;
	padding-left: 5px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

#breadcrumbs {
	font-size: 0.8em;
	color: #ccc;
	a {
		color: #aaa;
	}
}
